h1 {
    color: rgb(0, 100, 0);
    background-color: aqua;
    border-color: blueviolet;
    border-width: 10px;
    border-style: solid;
}

li {
    color: green;
    background: rgba(100, 48, 0, .5);
}

h4 {
    color: purple;
    background: yellow;
}

body {
    background: url(https://images.unsplash.com/photo-1530432999454-016a47c78af3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}